In [1]:
import psycopg2
import pandas as pd

In [3]:
file_path = r'C:\Users\User\OneDrive\Desktop\report\data\Azerbaijan_bank_customers.csv'

df = pd.read_csv(file_path)

In [8]:
host = "localhost"
port = "5432"
database = "bank_employeers"
user = "postgres"
password = "root"
table_name = "Azerbaijan_bank_customers"

conn = psycopg2.connect(
    host=host,
    port=port,
    database=database,
    user=user,
    password=password
)
cursor = conn.cursor()

cursor.execute(f"""
    DROP TABLE IF EXISTS {table_name};
""")

cursor.execute(f"""
    CREATE TABLE {table_name} (
        customer_id VARCHAR(100) PRIMARY KEY,
        name_surname VARCHAR(100),
        age INT,
        gender VARCHAR(10),
        email VARCHAR(100),
        phone VARCHAR(20),
        account_type VARCHAR(50),
        balance FLOAT,
        branch VARCHAR(100),
        credit_rating INT,
        is_active BOOLEAN,
        last_transaction_date DATE,
        monthly_income FLOAT,
        credit_eligible BOOLEAN,
        country VARCHAR(50),
        account_creation_date DATE,
        tenure INT,
        num_of_products INT,
        has_credit_card INT,
        is_active_member INT,
        estimated_salary FLOAT,
        churn INT
    );
""")

insert_query = f"""
    INSERT INTO {table_name} (
        customer_id, name_surname, age, gender, email, phone,
        account_type, balance, branch, credit_rating, is_active,
        last_transaction_date, monthly_income, credit_eligible, country,
        account_creation_date, tenure, num_of_products, has_credit_card,
        is_active_member, estimated_salary, churn
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# --- Insert data row by row ---
for _, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# --- Commit and close ---
conn.commit()
cursor.close()
conn.close()

print(f"{len(df)} records inserted into {table_name}.")

20000 records inserted into Azerbaijan_bank_customers.